.board-bg{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: antiquewhite;
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100%;
}
.top-pane{
    float: left;
    width: 100%;
    min-height: 5vh;
    background-color: chocolate;
}
.user-pane{
    padding: 10px;
    width: fit-content;
    background-color: blueviolet;
    float: right;
    min-height: 5vh;
    height: fit-content;
    display: flex;
}
.user-name{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    font-weight: bold;
}
.user-pane-img{
    height: 5vh;
    width: 5vh;
}
.left-pane{
    float: left;
    width: 15%;
    background-color: aqua;
    text-align: center;
}
.member{
    align-items: center;
    height: fit-content;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
}
.member-item{
    margin: 10px;
    width: 80%;
    background-color: brown;
}
.right-pane{
    float: left;
    width: 85%;
    background-color: cornflowerblue;

}

.board-item{
    float: left;
    margin: 20px;
    background-color: chartreuse;
    height: 10vh;
    width: 11vw;
}