
.board-bg {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.top-pane {
    height: fit-content;
    background: #333;
    color: white;

}
.user-pane{
    padding: 3px;
    background-color: blueviolet;
    float: right;
    min-height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-name{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    font-weight: bold;
}
.user-pane-img{
    height: 5vh;
    width: 5vh;
}
.logoutBtn{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    font-weight: bold;
    height: fit-content;
}
.middle-pane {
    flex: 1;
    display: flex;
    min-height: 0;
}

.left-pane {
    width: 15vw;
    background: #eee;
    display: flex;
    flex-direction: column;
}
.left-pane h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #0056b3;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.board{
    background-color: blueviolet;
    overflow-y: scroll;
}
.board::-webkit-scrollbar {
    display: none;
}
.board-item{
    margin: 10px;
    width: 90%;
    background-color: brown;
    height: 10vh;
    min-height: fit-content;
}
.board-item:hover{
    cursor: pointer;
}
.board-item.selected {
    background-color: #007bff;
    color: white;
    border-color: #0056b3;
}

.board-item.selected p {
    color: white;
}
.right-pane {
    flex: 1;
    background: #fff;
    white-space: nowrap;
    overflow-x: auto;
}
.create-card{
    border-radius: 10px;
    margin: 1%;
    background-color: chartreuse;
    display: inline-block;
    height: 10vh;
    width: 10vw;
    min-width: fit-content;
    min-height: fit-content;
    text-align: center;
}
.card-item{
    border-radius: 10px;
    overflow-y: scroll;
    margin-left: 10px;
    margin-top: 1%;
    background-color: chartreuse;
    display: inline-block;
    vertical-align: top;
    height: 98%;
    /*max-height: 98%;;*/
    /*min-width: fit-content;*/
    width: 20vw;
    text-align: center;
}
.card-item::-webkit-scrollbar{
    display: none;
}
.card-title{
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: coral;
}
.task-item{
    border-radius: 10px;
    margin: 10px;
    background-color: brown;
    height: fit-content;

}

.task-item p{
    white-space: normal;
    overflow-wrap: anywhere;
}

